/** @format */
.page_container {
  overflow-y: auto;
  height: 100%;
}
.page_container * {
  margin: 0;
  padding: 0;
}
.headline {
  font-size: var(--font-size-medium-large);
  color: var(--text-primary-color);
  font-family: OutfitSemibold;
}
.box_container {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  padding: 20px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_group .label {
  color: #1e1e1e;
  font-size: var(--font-size-small);
  font-family: OutfitRegular;
}
.input_group input,
.input_group select {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 10px;
  font-size: var(--font-size-smaller);
  color: #000000;
  font-family: OutfitRegular;
  outline: none;
  border-radius: 7px;
}

.double_input {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.double_input .input_group,
.double_input .select_group {
  width: 50%;
}

.select_group {
  display: flex;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 10px;
  gap: 10px;
  align-items: center;
  width: 100%;
  border-radius: 7px;
}
.select_group img {
  width: 24px;
  object-fit: contain;
}
.select_group select {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-smaller);
  color: #000000;
  font-family: OutfitRegular;
}

.submit_btn {
  max-width: 400px;
  width: 100%;
  display: block;
  margin: auto;
  font-size: var(--font-size-large);
  font-family: OutfitMedium;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  margin-top: 20px;
  background-color: #757575;
  border: 1px solid #757575;
  outline: none;
}
.submit_btn.active {
  background-color: var(--text-primary-color);
  border: 1px solid var(--text-primary-color);
}

/* Extra Small Devices (Phones, 0px and up)*/
@media (max-width: 575.98px) {
  .box_container {
    padding: 20px;
  }
  .input_group .label {
    font-size: var(--font-size-smaller);
  }
  .input_group input,
  .input_group select {
    font-size: var(--font-size-extra-small);
  }
  .double_input {
    flex-direction: column;
  }

  .double_input .select_group,
  .double_input .input_group {
    width: 100%;
  }
  .submit_btn {
    font-size: var(--font-size-smaller);
  }
  .headline {
    font-size: var(--font-size-large);
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .double_input {
    flex-direction: column;
  }
  .double_input .radio_btn_container,
  .double_input .select_group,
  .double_input .input_group {
    width: 100%;
  }
}
