/** @format */

.doctor_login_page {
  display: flex;
  height: 100vh;
}

.doctor_login_page .left_section {
  width: 50%;
  height: 100%;
}
.doctor_login_page .left_section .thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.doctor_login_page .right_section {
  padding: var(--header-padding);
  height: 100%;
  flex: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.doctor_login_page .right_section .logo {
  max-width: 250px;
  width: 100%;
  object-fit: contain;
  height: auto;
}

.doctor_login_page .right_section .input_div {
  background-color: #e9e9e9;
  padding: 10px 30px;
  border: 1px solid #e9e9e9;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.doctor_login_page .right_section .input_div .icon {
  width: 24px;
  height: 28px;
  object-fit: contain;
}

.doctor_login_page .right_section .input_div input {
  flex: 1;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--font-size-small);
  font-family: OutfitMedium;
  color: var(--text-primary-color);
}

.doctor_login_page .right_section .input_div input::placeholder {
  color: var(--text-primary-color);
}

.doctor_login_page .right_section .form_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  max-width: 600px;
}
.doctor_login_page .right_section .double_input {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.doctor_login_page .right_section .double_input .input_div {
  width: 50%;
}
.doctor_login_page .right_section .double_input .input_div.country_input {
  width: 140px;
}
.doctor_login_page .right_section .double_input .input_div.mobile_input {
  flex: 1;
}

.sign_in_btn {
  width: 150px;
  font-size: var(--font-size-small);
  background-color: #757575;
  border: 1px solid #757575;
  padding: 10px;
  outline: none;
  border-radius: 50px;
  color: #fff;
  font-family: OutfitMedium;
  margin-top: 40px;
}

.or {
  color: var(--text-primary-color);
  font-size: var(--font-size-small);
  font-family: OutfitMedium;
  margin: 0;
}

a.already_account {
  font-size: var(--font-size-small);
  color: var(--text-primary-color);
  font-family: OutfitMedium;
  text-decoration: underline;
  text-align: center;
}

a.forget_password {
  font-size: var(--font-size-small);
  color: var(--text-primary-color);
  font-family: OutfitMedium;
  text-decoration: none;
  text-align: right;
  width: 100%;
}

/* Extra Small Devices (Phones, 0px and up)*/
@media (max-width: 575.98px) {
  .doctor_login_page .left_section {
    display: none;
  }
  .sign_in_btn,
  .or,
  a.forget_password,
  a.already_account,
  .doctor_login_page .right_section .input_div input {
    font-size: var(--font-size-smaller);
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .doctor_login_page {
    flex-direction: column;
  }
  .doctor_login_page .left_section {
    width: 100%;
    max-height: 335px;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}
