/** @format */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #295092;
  --header-padding: 20px 60px;
  --fade-bg: #f1f7fe;
  --text-primary-color: #001b48;
  --font-size-heading: 42px; /* Largest Heading */
  --font-size-subheading: 36px; /* Subheading */
  --font-size-medium-large: 32px; /* Subheading */
  --font-size-large: 23px; /* Large font size */
  --font-size-medium: 22px; /* Medium font size */
  --font-size-base: 20px; /* Base font size */
  --font-size-small: 18px; /* Small font size */
  --font-size-smaller: 16px; /* Slightly smaller */
  --font-size-extra-small: 14px; /* Extra small font size */
  --font-size-xs-small: 12px; /* Smallest font size */
}

@font-face {
  font-family: OutfitRegular;
  src: url("./asset/fonts/Outfit/Outfit-Regular.ttf");
}

@font-face {
  font-family: OutfitBold;
  src: url("./asset/fonts/Outfit/Outfit-Bold.ttf");
}

@font-face {
  font-family: OutfitSemibold;
  src: url("./asset/fonts/Outfit/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: OutfitMedium;
  src: url("./asset/fonts/Outfit/Outfit-Medium.ttf");
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

/* The scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 0px; /* Rounded corners */
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid transparent; /* Adds padding inside */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker on hover */
}
