/** @format */

.book_consultation {
  background-color: var(--fade-bg);
  padding: var(--header-padding);
  padding-top: 40px;
}
.book_consultation .headline {
  font-size: 42px;
  font-family: OutfitBold;
  color: #263b80;
  text-align: center;
}

.book_consultation .cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 30px;
}
.book_consultation .cards .item {
  min-width: 245px;
  max-width: 400px;
  margin: auto;
}
.book_consultation .cards .item img {
  width: 100%;
  height: 234px;
  object-fit: contain;
  object-position: center;
}

.book_consultation .cards .item .title {
  font-size: 24px;
  color: #31333a;
  text-align: center;
  font-family: OutfitMedium;
}

.empower_health {
  padding: var(--header-padding);
  padding-top: 40px;
  background-color: var(--fade-bg);
}
.empower_health .container {
  max-width: 1200px;
  background-color: var(--primary-color);
  margin: auto;
  border-radius: 10px;
  padding: 40px 60px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.empower_health .container .thumbnail {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.empower_health .container .content {
  max-width: 800px;
  margin: auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.empower_health .container .content h1.headline {
  font-size: 70px;
  text-align: center;
  font-family: OutfitSemibold;
  color: #fff;
  margin: 0;
}
.empower_health .container .content p.description {
  text-align: center;
  color: #fff;
  font-family: OutfitRegular;
  font-size: 24px;
  margin: 0;
}

.specialist {
  position: relative;
  margin-top: 10rem;
  margin-bottom: 10rem  ;
}
.specialist .content {
  background-color: green;
  height: 200px;
  width: 100%;
  z-index: 1;
}

.specialist .above_wave{
    width: 100%;
    position: absolute;
    top: -100px;
    z-index: -1;
}

/* Extra Small Devices (Phones, 0px and up)*/
@media (max-width: 575.98px) {
  .book_consultation .headline {
    font-size: 23px;
  }
  .book_consultation .cards {
    gap: 10px;
  }
  .book_consultation .cards .item {
    min-width: 100%;
    max-width: 100%;
  }
  .book_consultation .cards .item img {
    height: auto;
    width: 160px;
    margin: auto;
    display: block;
  }
  .book_consultation .cards .item .title {
    font-size: 16px;
  }
  .empower_health .container {
    padding: 20px 40px;
  }
  .empower_health .container .content {
    gap: 10px;
  }
  .empower_health .container .content h1.headline {
    font-size: 23px;
  }
  .empower_health .container .content p.description {
    font-size: 16px;
  }
}

/* Small Devices (Tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .book_consultation .headline {
    font-size: 32px;
  }
  .book_consultation .cards {
    gap: 10px;
  }
  .book_consultation .cards .item {
    min-width: 140px;
    max-width: 170px;
  }
  .book_consultation .cards .item img {
    height: auto;
  }
  .book_consultation .cards .item .title {
    font-size: 16px;
  }
  .empower_health .container .content h1.headline {
    font-size: 32px;
  }
  .empower_health .container .content p.description {
    font-size: 16px;
  }
}

/* Medium Devices (Desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .book_consultation .headline {
    font-size: 36px;
  }
  .book_consultation .cards {
    gap: 20px;
  }
  .book_consultation .cards .item {
    min-width: 160px;
    max-width: 200px;
  }
  .book_consultation .cards .item img {
    height: auto;
  }
  .book_consultation .cards .item .title {
    font-size: 20px;
  }
  .empower_health .container .content h1.headline {
    font-size: 36px;
  }
  .empower_health .container .content p.description {
    font-size: 20px;
  }
}

/* Large Devices (Large Desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
